@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #21455E;
    font-size: 14px;
    font-weight: 500;
}
a{
    color: #637C8E;
}
.btn-success{
    color: #27B206;
    font-weight: 500;
    font-size: 14px;
    color:#fff;
    padding: 8px 27px;
}
h1{
    font-size:54px;
    font-weight: 600;
}
h2{
    font-size:34px;
    font-weight: 600;
}
.cat-text{
    color:#2A52C6;
}
/* .cat-image{
    background: url('../images/blob-img.png');
} */
.cat-image .blob-img{
    position: absolute;
    right: -135px;
    top: -48%;
    z-index: -1;
    max-width: 133%;
    height: auto;
}